.footer
    .footer_logo 
        h3 ANDPID 
        h5 Associazione Nazionale per i Diritti dei Porcellini d'India Domestici. 
    .footer_rights
        p Tutti i diritti sono riservati.
script(src="/_assets/reload.js") 
script(src="/_assets/script.js") 