html(lang="it")
    head
        title ANDPID
        link(rel="stylesheet", type="text/css", href="/index.css")
        link(rel="stylesheet", type="text/css", href= url + "/index.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js") 