.navbar 
    a(href="/") 
        .navbar_logo 
            h3 ANDPID
            h5 Associazione Nazionale per i Diritti dei Porcellini d'India Domestici
            h6 Dal cuore degli allevatori alla vita dei porcellini d'india
    .navbar_navigation
        ul
            a(href="/notizie") 
                li.news notizie
            a(href="/chi-siamo") 
                li.info chi siamo
            a(href="/app") 
                li.app scopri l'app