- var url = "notizia"

include includes/page-top
#content 
    h1 Alimentazione
    article.article 
        section.article_tagline 
            p  L'equilibrio alimentare dei porcellini d'india. Indicazioni per un porcellino sempre in forma.
        img.article_image(src="/_assets/food.jpg", alt="cibo per animali")
        section.article_paragraph
            p Le cavie hanno un apparato digerente molto delicato ed occorre prestare molta attenzione alla loro alimentazione.
            p Non apprezzano di buon grado le novit&agrave;, quindi, se si vuole introdurre un nuovo alimento, va fatto gradualmente per evitare squilibri intestinali.
            | La vitamina C &egrave; fondamentale per la loro salute, e poich&eacute; non sono in grado di sintetizzarla autonomamente, occorre integrarla (il fabbisogno giornaliero &egrave; di circa 30/50mg). Buona fonte di questa vitamina e&egrave; il peperone, che andr&agrave; fornito quotidianamente; gli agrumi, invece, sono poco indicati perch&eacute; molto zuccherini e acidi per le mucose.
        section.article_paragraph
            p ll fieno deve essere sempre presente in quantit&agrave; illimitata perch&eacute;, oltre a consumare i denti in continua crescita, aiuta anche a mantenere una corretta funzionalit&agrave; intestinale. Per essere considerato un buon fieno &egrave; necessario che sia polifita, di colore verde e soprattutto non polveroso.
            p Anche le verdure rappresentano parte fondamentale della dieta del porcellino d'india, ed &egrave; importante cercare quelle di stagione e di tipo piu&ugrave; vario.
            p La frutta dovr&agrave; essere somministrata solo qualche volta alla settimana, perch&eacute; molto zuccherina.Il mangime pellettato &egrave; ammesso, anche se in quantit&agrave; limitate, a patto che non contenga semi, cereali e frutta secca.
            | Da evitare assolutamente gli alimenti proibiti: latticini, cioccolato, melanzane, cipolle, pane, pasta, patate, legumi, mandorle, parti verdi di peperoni e pomodori.
        section.article_table 
            table 
                tbody
                    tr
                        td Asparagi,erba di prato, finocchio, peperoni, sedano, zucchine
                        td Avocado, cereali, cioccolata, merendine, porro, verdura cotta
                        td Broccoli, carote, cavoli, prezzemolo, spinaci
            .legenda 
                .legenda__item
                    .danger 
                    p Vietati
                .legenda__item
                    .warn 
                    p Con moderazione
                .legenda__item
                    .good
                    p Ottimi
include includes/footer