- var url = "allevamenti"

include includes/page-top
#content 
    h1 Allevamenti
    .farms 
        p Ecco una mappa dove potete leggera la posizione degli allevamenti convenzionati con l'ANDPID:
        img(src="/_assets/map.png", alt="mappa dell'italia che mostra i luoghi degli allevamenti")
include includes/footer