- var url = "notizia"

include includes/page-top
#content 
    h1 Cosa mi stai dicendo?
    article.article 
        section.article_tagline 
            p Kaytee ci parla di come decifrare il linguaggio delle cavie (in lingua originale)
        img.article_image(src="/_assets/guinea-sad.jpg", alt="porcellino d'india triste")
        h3.article_partitle Guinea Pigs use a Variety of Noises to Communicate 
        section.article_paragraph
            p You go to grab the bag of hay, and you know it’s coming – the guinea pig wheeks!  At Kaytee, our guinea pigs LOVE hay and it’s clear that those are happy noises because they think they are getting their favorite food. But that’s not the only noise our pets make. Have you heard your guinea pig make a chut? Or purr? 
            p We have compiled a list of common guinea pig noises to help you better understand your pet’s needs. While we can’t speak “guinea pig,” we can learn more about our pets to better take care of them in need and bond with them when they are content.
        h3.article_partitle Chirrup: 
        section.article_paragraph
            p This sound indicates disturbance or being mildly upset. You might hear it when they are bothered by something going on. It can also be sometimes used for attention. If your guinea pig is feeling neglected, you might hear a couple chirrup noises as they seek their owner’s attention.
        h3.article_partitle Chut:
        section.article_paragraph
            p The chut is a common noise made by guinea pigs to themselves and each other. It indicates contentment in their home or surrounding. Owners often hear chuts when a guinea pig is out of their habitat exploring.
        h3.article_partitle Drrr:
        section.article_paragraph
            p When your guinea pig is startled, they will likely make a drrr sound. This is their version of the expression “Ah” or “Wow” when they hear a loud noise or something disturbs them unexpectedly. When this noise is made, most guinea pigs will freeze in place since they are scared.
        h3.article_partitle Squeal:
        section.article_paragraph
            p Some guinea pigs will squeal when they are experiencing potential pain or they need attention. It can sometimes be that another guinea pig is stealing his favorite spot to eat. Pay attention to your guinea pig if you hear a squeal because it could indicate that they need help from something hurting them.        
        h3.article_partitle Note
        section.article_paragraph
            p Please note that all pets are unique. Some behaviors may indicate something other than what is typical. It is important to keep your guinea pig safe and healthy by watching for irregular activity and taking your pet to regular vet check-ups.
include includes/footer