- var url = "notizia"

include includes/page-top
#content 
    h1 Abbatti la noia
    article.article 
        section.article_tagline 
            p Consigli e idee da Kaytee per fare in modo che le cavie non si annoino (in lingua originale).
        img.article_image(src="/_assets/porcellino-bici.jpg", alt="porcellino d'india con una piccola bici")
        h3.article_partitle Paragraph 
        section.article_paragraph
            p As fall gets closer, it’s time for families to prepare for back-to-school schedules. Small animals have likely been spoiled all summer with the extra attention and playtime during break. During the school year, or as any schedule changes, it’s important to keep your small pets in mind. Use these tips and boredom buster ideas to keep them entertained, happy, and healthy all year long.
        h3.article_partitle Schedule Outside-of-Habitat-Time 
        section.article_paragraph
            p Like you would schedule soccer practice or family dinner, remember to keep your pets in mind, too. To help a family stay organized, add pet playtime and pet care chores to a calendar. It’s important to give your pet daily outside-of-habitat time to keep them active and happy. Do what works best for you whether it’s in the morning while you’re getting ready for school or work, or at the end of the day after dinner.
            p To keep your pet safe while they are outside their home, make sure to barricade off a safe area. This can be done easily for pet bunnies, guinea pigs, and ferrets with the Pet-N-Playpen connectable wire panels that keep your pet safe within a sizable space.
        h3.article_partitle Offer New Activities
        section.article_paragraph
            p Like you would schedule soccer practice or family dinner, remember to keep your pets in mind, too. To help a family stay organized, add pet playtime and pet care chores to a calendar. It’s important to give your pet daily outside-of-habitat time to keep them active and happy. Do what works best for you whether it’s in the morning while you’re getting ready for school or work, or at the end of the day after dinner.
        h3.article_partitle Travel with Your Pet
        section.article_paragraph
            p Bring your pet with you to places more often to ensure they get enough bonding time. One way to do this is with pet-safe carriers. Small animals can be transported using a Come Along Carrier, which is a safe carrier for easy travel. Going up north with the family for the weekend? Bring your guinea pig along. They’ll love being able to have bonding time with you.
            p Tip: pack their normal habitat for weekends away so they feel safe in familiar surroundings. 
        
include includes/footer