- var url = "notizie"

include includes/page-top
#content 
    h1 Notizie
    .news
        a.news_box(tabindex=-1, href="/regali")
            h3.news_box_title Il regalo perfetto
            img.news_box_image(src="/_assets/porcellino-bici.jpg", alt="porcellino d'india con piccola bicicletta")
            p.news_box_preview Il Natale &egrave; vicino, ecco il regalo perfetto per il vostro roditore preferito. Non regaliamogli il solito maglione!
        a.news_box(tabindex=5, href="/dialogo")  
            h3.news_box_title Cosa mi stai dicendo?
            img.news_box_image(src="/_assets/guinea-sad.jpg", alt="porcellino d'india triste")
            p.news_box_preview Kaytee ci parla di come decifrare il linguaggio delle cavie (in lingua originale).
        a.news_box(tabindex=2, href="/cinquemotivi")
            h3.news_box_title 5 motivi per scegliere la cavia
            img.news_box_image(src="/_assets/porcellini.jpg", alt="porcellini d'india")
            p.news_box_preview Il porcellino d'India &egrave; un grande animale da compagnia... 
        a.news_box(tabindex=5, href="/alimentazione")  
            h3.news_box_title La giusta alimentazione
            img.news_box_image(src="/_assets/food.jpg", alt="cibo per animali")
            p.news_box_preview L'equilibrio alimentare dei porcellini d'india. Indicazioni per un porcellino sempre in forma.
        a.news_box(tabindex=1, href="/podcast-seconda") 
            h3.news_box_title Perch&egrave; si chiamano Cavie?
            img.news_box_image(src="/_assets/cavia.jpg", alt="porcellino d'india a pelo lungo")
            p.news_box_preview Come mai il porcellino d'india viene chiamato Cavia?
        a.news_box(tabindex=4, href="/esperto") 
            h3.news_box_title Noia: parla l'esperto
            img.news_box_image(src="/_assets/travel-pig.png", alt="porcellino d'india che esce dalla borsa da viaggio")
            p.news_box_preview Consigli e idee da Kaytee per fare in modo che le cavie non si annoino (in lingua originale).
        a.news_box(tabindex=6, href="/intervista") 
            h3.news_box_title Tutto sulla cura del pelo
            img.news_box_image(src="/_assets/porcellino-pelo.jpg", alt="porcellino d'india a pelo lungo")
            p.news_box_preview Come mantenere il pelo del nostro piccolo amico sempre splendente? Scopritelo con noi nell'intervista al dott. Carlo Carlini.
        a.news_box(tabindex=3, href="allevamenti") 
            h3.news_box_title Allevamenti
            img.news_box_image(src="/_assets/allevamento.jpg", alt="famiglia di porcellini d'india")
            p.news_box_preview Un elenco di tutti i punti convenzionati con l'ANDPID dove poter trovare il vostro compagno per la vita.
        a.news_box(tabindex=4, href="/intro-podcast") 
            h3.news_box_title La storia dei Porcellini d'India
            img.news_box_image(src="/_assets/painting.jpg", alt="primo dipinto di porcellino d'india")
            p.news_box_preview Quando sono diventati animali domestici e dove.
include includes/footer