- var url = "intervista"

include includes/page-top
#content 
    h1 La storia della cavia
    .interview
        audio(autoplay)
            source(src="/_assets/storia.mp3" type="audio/mpeg")
        img(src="/_assets/painting.jpg", alt="il primo dipinto che ritrae una Cavia domestica")
include includes/footer