- var url = "intervista"

include includes/page-top
#content 
    h1 Perch&egrave; cavia?
    .interview
        audio(controls)
            source(src="/_assets/cavia.mp3" type="audio/mpeg")
        img(src="/_assets/cavia.jpg", alt="scienziato che solleva una gabbia di topolini")
include includes/footer