- var url = "notizia"

include includes/page-top
#content 
    h1 Mai pi&ugrave; il solito maglione!
    article.article 
        section.article_tagline 
            p Mai pi&ugrave; il solito maglione!
        img.article_image(src="/_assets/porcellino-bici.jpg", alt="porcellino d'india con una piccola bici")
        a(tabindex=3, href="https://www.zooplus.it/shop/roditori_piccoli_animali/cavie/snack_cavie")  
            h3.article_partitle Ciotole e ancora ciotole 
        section.article_paragraph
            p Se il vostro porcellino d'india ama i colori, queste ciotoline sono perfette per lui o lei.
            p Disponibili in vari colori, scegli quella perfetta per il tuo tesoro.
        a(tabindex=1, href="https://www.zooplus.it/shop/roditori_piccoli_animali/cavie/snack_cavie/foraggio_erbette_cavie/396966")  
            h3.article_partitle Che bont&agrave; 
        section.article_paragraph
            p Se invece gli piace mangiare, ma non ha interesse nella forma, questo snack sar&agrave; sicuramente apprezzato.
            p Buon appetito!
        a(tabindex=2, href="https://www.zooplus.it/shop/roditori_piccoli_animali/cavie/giochi_cavie/98739")  
            h3.article_partitle Palla gioco 
        section.article_paragraph
            p Giocherellone? Niente paura, con questa palla lo farete sicuramente felice!
            p gira gira gira... la testa!
        a(tabindex=-1, href="https://www.zooplus.it/shop/roditori_piccoli_animali/cavie/giochi_cavie/347554")  
            h3.article_partitle Flip Board 
        section.article_paragraph
            p E se abbiamo un porcellino d'india amante della logica, ecco il gioco perfetto. Con questo lo terrete distratto per un bel po'.
            p Auguri al nostro piccolo Einstein.
        img.article_graph(src="/_assets/gradimento.png", alt="")
        img.article_image(src="/_assets/birthday-pig.jpg", alt="porcellino d'india che festeggia il compleanno")
include includes/footer